.flavors-pizza {
  margin-top: 20px;
  text-align: center;
}
@media (orientation: landscape) {
  .pizza-card {
    padding: 50px;
    display: inline-block;
    min-width: 440px;
  }
}

@media (orientation: portrait) {
  .pizza-card {
    padding: 20px;
    display: block;
    align-items: center;
  }
}
