.cardapio-title,
.pizzas-menu-title,
.drinks-menu-title,
.combos-menu-title {
  text-align: center;
  color: var(--white);
}

.list-products-cardapio {
  text-align: center;
  padding: 40px;
  display: block;
}

@media (orientation: landscape) {
  .cardapio-title {
    font-size: 50px;
  }
}

@media (orientation: portrait) {
  .cardapio-title {
    font-size: 40px;
    padding: 0;
  }
}
