.main-footer {
  justify-content: space-around;
  align-items: center;
  height: 130px;
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
}

.authors {
  text-align: -webkit-center;
  margin-top: 10px;
}

.authors_links {
  display: flex;
  max-width: min-content;
  text-align: -webkit-center;
  align-items: center;
}

.infos {
  text-align: center;
}

@media (orientation: landscape) {
  .main-footer {
    display: flex;
  }
}

@media (orientation: portrait) {
  .main-footer {
    display: grid;
  }

  .infos {
    padding: 30px;
  }

  .cefet_logo {
    margin-top: 30px;
    justify-self: center;
  }
}
