.order-main {
  margin: 50px;
  padding: 50px;
  text-align: center;
}

.order-infos, .order-payment {
  display: flex;
  justify-content: center;
}

.order-id,
.order-data,
.order-status,
.order-observacoes,
.value-read-only-input {
  margin: 40px;
  text-align: center;
}
