.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  height: 40px;
  font-weight: 400;
  font-size: 40px;
  color: var(--white);
  padding: 30px;
}

.menu {
  display: flex;
  max-width: min-content;
  align-items: center;
}

.name {
  display: contents;
  align-items: center;
}

.company-title {
  color: var(--white);
}

@media (orientation: landscape) {
  .main-header {
    font-size: 40px;
  }

  .logo {
    color: var(--white);
  }
}

@media (orientation: portrait) {
  .main-header {
    font-size: 30px;
  }

  .logo {
    display: none;
  }
}
